@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

span{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin-right:8px;
  margin-top: 40px;
  perspective: 1000px;
}
span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
span a:before{
    position: absolute;
    content: "BUTTON";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #adc46e; ;
    box-sizing: border-box;
    border-radius: 5px;
  }

span a:after{
  position: absolute;
  content: "BUTTON";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #76b1c1;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: #fff;
  background:#adc46e;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color:#76b1c1;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
